.countryItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-dark--2);

  padding: 0.8em 2rem;
  border-left: 5px solid var(--color-brand--1);
  border-radius: 5px;
}
.emoji {
  width: 3rem;
  height: 3rem;
}
.name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-light--3);
}
