.form {
  font-size: 2rem;
  color: var(--color-light--3);
  background-color: var(--color-dark--2);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row label {
  font-size: 1.4rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
