.link {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  text-decoration: none;
}
.link img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}
