.map {
  display: flex;
  height: 100%;
  background-color: var(--color-dark--2);
  position: relative;
}
.mapContainer {
  height: 100%;
  width: 100%;
}
:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

:global(.leaflet-popup .leaflet-popup-content) {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
:global(.leaflet-popup .leaflet-popup-content span:first-child img) {
  font-size: 2.5rem;
  line-height: 1;
  width: 5rem;
  height: 3rem;
}
:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: var(--color-dark--1);
}
:global(.leaflet-popup-content-wrapper) {
  border-left: 5px solid var(--color-brand--2);
}
