* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  width: 35%;
  padding: 1rem;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li a {
  border-radius: 5px;
  padding: 0.8rem 2rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}

.nav a:global(.active) {
  color: green;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
