.appLay {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  /* padding: 2.5rem 5rem; */
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
