.homepage {
  /* max-width: 120rem;
  width: 100%; */
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://plus.unsplash.com/premium_photo-1675198764235-2dc2b37146c9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;
  background-position: center;
}
.content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}
.content h1 {
  font-size: 4.4rem;
  line-height: 1.2;
}
.content p {
  font-size: 2rem;
  line-height: 1.6;
  color: #999;
  font-weight: 500;
}
