.login {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background: var(--color-dark--0);
}
.formEl {
  width: 60rem;
  margin: 10rem auto;
  background-color: var(--color-dark--1);
  padding: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formEl label {
  display: block;
  margin-bottom: 1rem;
}
